/************ dashboard css start *************/
/* layout css start */
.site-wraper {
  display: flex;
  flex-wrap: wrap;
}
.site-sidbar {
  width: 280px;
  width: 21.5%;
  position: fixed;
  height: 100%;
  background: #101828;
  z-index: 2;
}
.sidbar-head {
  padding: 24px 18px 30px;
  margin-bottom: 10px;
  background: linear-gradient(180deg, #5451f2 0%, #101828 100%);
}
.sidebar-nav {
  padding: 16px;
  overflow: auto;
  height: calc(100% - 150px);
}
.sidebar-nav ul {
}
.sidebar-nav ul li {
  position: relative;
}
.sidebar-nav ul li a {
  color: var(--white-color);
  text-decoration: none;
  padding: 8px;
  display: block;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar-nav ul li a > span.menu-icon {
  margin-right: 5px;
}
.sidebar-nav ul li a > span.menu-icon img {
  max-width: 22px;
}
.sidebar-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.sidebar-close-btn {
  background-color: transparent;
  border: 0;
  color: var(--white-color);
  font-size: 18px;
  cursor: pointer;
}
.dd-nav-btn {
  background-color: transparent;
  border: 0;
  color: var(--white-color);
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 5px;
  top: 9px;
}
.sidebar-nav > ul > li > ul {
  margin-left: 24px;
}
.sidebar-nav > ul > li > ul li {
  margin-bottom: 2px;
}
.sidebar-nav > ul > li > ul li a {
  color: #f2f4f7;
  border-bottom: 1px solid rgba(246, 249, 253, 0.2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.sidebar-nav > ul > li > ul li a:hover {
  background-color: var(--secondery-color);
}
.site-main {
  width: 78.5%;
  margin-left: 21.5%;
}
.main-header {
  display: flex;
  padding: 10px 20px;
}
.search-widget-top {
  flex: 0 0 50%;
  margin: auto;
}
.search-widget-top .input-elm {
  border: 1px solid #475467;
  background: #475467;
  color: var(--white-color);
}
.header-right-elms {
  display: flex;
  gap: 5px;
}
.header-right-elms .right-elm-icon {
  width: 40px;
  height: 40px;
  background: #475467;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.header-right-elms button {
  cursor: pointer;
  border: 0;
  color: var(--white-color);
  background-color: transparent;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.header-right-elms .right-elm-icon.user-elm {
  background-color: transparent;
  padding: 0;
}
.header-right-elms .right-elm-icon.user-elm button {
  padding: 1px;
}
.main-body {
  background-color: var(--white-color);
  padding: 30px;
  border-radius: 30px 0 0 0;
  -webkit-border-radius: 30px 0 0 0;
  -moz-border-radius: 30px 0 0 0;
  -ms-border-radius: 30px 0 0 0;
  -o-border-radius: 30px 0 0 0;
}
.site-breadcrumb {
  padding: 1px 0;
}
.site-breadcrumb ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 25px;
}
.site-breadcrumb ul li {
  color: var(--secondery-color);
  font-weight: 500;
  position: relative;
}
.site-breadcrumb ul li + li:before {
  content: "";
  background-image: url("../images/chevron-right.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  left: -18px;
  top: 2px;
}
.site-breadcrumb ul li a {
  color: var(--inputBorder);
  text-decoration: none;
}
.site-breadcrumb ul li a:hover {
  color: var(--primeray-color);
}
.page-title-widget {
  /* display: flex; */
  /* align-items: center; */
}
.page-title-widget h1 {
  font-size: 30px;
  display: flex;
  align-items: center;
}
.emp-count {
  background: #e9e9f6;
  font-size: var(--fontSize12);
  padding: 2px 8px;
  font-weight: 500;
  margin-left: 10px;
}
.page-title-widget .emp-count {
  color: var(--secondery-color);
  border-radius: 16px;
}

.filter-widget {
  display: flex;
  gap: 24px;
  padding: 6px 0;
  margin-bottom: 12px;
}
.filter-btn {
}
.filter-widget-search {
}
.filter-widget-search .input-icon {
  left: 5px;
  right: auto;
}
.filter-widget-search .input-elm {
  padding-left: 40px;
}

/* layout css end */

/* table css start */
.tbl-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--inputBorder);
}
.tbl-nav ul {
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  list-style: none;
}
.tbl-nav ul li {
  flex: 0 0 33.33333%;
  text-align: center;
}
.tbl-nav ul li a {
  text-decoration: none;
  color: var(--textGray);
  font-size: var(--fontSize12);
  display: block;
  padding: 10px 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.tbl-nav ul li a:hover,
.tbl-nav ul li a.active {
  background-color: #f9fafb;
  color: var(--primeray-color);
}
.tbl-nav ul li a .emp-count {
  display: inline-block;
  text-align: center;
  width: 24px;
  height: 24px;
  padding: 5px;
  color: var(--primeray-color);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.tab-nav-widget .tbl-nav ul {
  flex: 0 0 40%;
  max-width: 40%;
}
.site-tbl {
}
.site-tbl table {
  caption-side: bottom;
  border-collapse: collapse;
  vertical-align: top;
  width: 100%;
}
.site-tbl table > thead {
  vertical-align: bottom;
}
.site-tbl table tr th {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid var(--inputBorder);
  vertical-align: middle;
  font-weight: normal;
  background-color: #f9fafb;
  text-align: left;
  height: 44px;
}
.site-tbl table tr td {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid var(--inputBorder);
  vertical-align: middle;
  height: 60px;
}

.tbl-active-span {
  font-size: var(--fontSize12);
  border-radius: 16px;
  background: #ecfdf3;
  color: #12b76a;
  padding: 2px 8px 2px 15px;
  position: relative;
}
.tbl-active-span:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #12b76a;
  position: absolute;
  left: 5px;
  top: 0;
  border-radius: 100%;
  bottom: 0;
  margin: auto;
}
.tbl-archived-span {
  font-size: var(--fontSize12);
  border-radius: 16px;
  background: #73839c;
  color: var(--white-color);
  padding: 2px 8px 2px 15px;
  position: relative;
}
.tbl-archived-span:before {
  content: "";
  width: 5px;
  height: 5px;
  background: var(--white-color);
  position: absolute;
  left: 5px;
  top: 0;
  border-radius: 100%;
  bottom: 0;
  margin: auto;
}
.tbl-team-span span {
  font-size: var(--fontSize12);
  border-radius: 16px;
  background: #eff8ff;
  color: var(--secondery-color);
  padding: 2px 8px;
}
.tbl-name {
  display: flex;
  align-items: center;
  gap: 8px;
}
.tbl-name img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.site-tbl table tr td .site-btn {
  display: inline-flex;
  padding: 5px 10px;
  font-size: var(--fontSize12);
}
.site-tbl table tr td .site-btn img {
  width: 14px;
}
.site-btn.btn-archive:hover img {
  filter: brightness(0) invert(1);
}
.btn-trahs {
  background-color: transparent;
  border: 0;
  padding: 0;
  box-shadow: 0 0 0;
}
.site-tbl-paginate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.paginate-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.paginate-btn:hover {
  background: #f9fafb;
}
.paginate-btn img {
  width: 16px;
}
.paginate-nums {
  display: flex;
  align-items: center;
  list-style: none;
}
.paginate-nums li {
  margin: 4px 2px;
}
.paginate-nums li a {
  width: 35px;
  height: 35px;
  text-decoration: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primeray-color);
}
.paginate-nums li a:hover,
.paginate-nums li a.active {
  background: #f9fafb;
}
/* table css end */

/* modal css start */
body.site-modal-open {
  overflow: hidden;
}
.site-modal {
  overflow: hidden;
  position: fixed;
  z-index: 5;
  padding: 24px 5px 24px 24px;
  background: #fff;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08),
    0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.site-modal-head {
  position: relative;
  padding: 20px 0;
}
.site-close-btn {
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.site-modal-head .user-img {
  margin-bottom: 20px;
}
.site-modal-head .user-img img {
  display: flex;
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.site-modal-head h3 {
  font-size: 18px;
  font-weight: 500;
  color: var(--titleColor);
}
.form-widget .input-wrap {
}
.site-modal-footer {
  display: flex;
  justify-content: space-between;
}
.site-modal-footer .site-btn {
  width: 48%;
}
.site-overlay {
  background-color: rgba(52, 64, 84, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
.modal-right {
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);

  border-radius: 12px 0 0 12px;
  -webkit-border-radius: 12px 0 0 12px;
  -moz-border-radius: 12px 0 0 12px;
  -ms-border-radius: 12px 0 0 12px;
  -o-border-radius: 12px 0 0 12px;
}
.modal-right.active {
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}
.modal-right .site-modal-items {
  overflow: auto;
  height: calc(100% - 10px);
  padding-right: 20px;
}
.modal-center {
  max-width: 50%;
  max-height: 520px;
  top: 50%;
  right: 0;
  left: 0;
  margin: auto;

  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.modal-center .site-modal-items {
  overflow: auto;
  padding-right: 20px;
  width: 100%;
  height: calc(100vh - 100px);
  background: #fff;
}
.fullpage-modal {
  max-width: 90%;
  max-height: 90%;
  top: 0%;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.fullpage-modal .site-modal-items {
  overflow: auto;
  padding-right: 20px;
  width: 100%;
  height: calc(100vh - 110px);
  background: #fff;
}
.fullpage-modal .site-modal-head {
  text-align: center;
}
.fullpage-modal .site-modal-footer .site-btn {
  width: 25%;
}
/* modal css end */

/* steps form widget css start */
.steps-form-widget {
  margin: 20px 0;
}
.steps-form-widget ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.steps-form-widget ul li {
  flex: 0 0 30%;
  max-width: 30%;
  position: relative;
}
.steps-form-widget ul li .step-icon {
}
.steps-form-widget ul li .step-icon img {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.steps-form-widget ul li h4 {
  margin: 6px 0 3px;
  font-weight: normal;
}
.steps-form-widget ul li.current h4 {
  color: var(--secondery-color);
}

.steps-form-widget ul li .step-icon:before,
.steps-form-widget ul li .step-icon:after {
  position: absolute;
  top: 12px;
  z-index: 1;
  content: "";
  width: 50%;
  height: 3.5px;
  background-color: #e2e2e2;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
.steps-form-widget ul li .step-icon:before {
  left: -25px;
}
.steps-form-widget ul li .step-icon:after {
  right: -25px;
}
.steps-form-widget ul li.done .step-icon:before,
.steps-form-widget ul li.done .step-icon:after {
  background-color: var(--secondery-color);
}
.steps-form-widget ul li.done + li .step-icon::before {
  background-color: var(--secondery-color);
}
.steps-form-widget ul li:last-child .step-icon::after,
.steps-form-widget ul li:first-child .step-icon::before {
  content: none;
}
.step-form {
}
.step-form h3 {
  width: 100%;
  margin: 10px 0 10px;
}
.step-form .right,
.step-form .left {
  width: 48%;
}
.step-form .site-modal-footer {
  width: 100%;
}

.step1-form .step-form-body {
  width: 30%;
  margin: 0 auto;
}
.step2-form .step-form-body,
.step3-form .step-form-body {
  width: 60%;
  margin: 0 auto;
}
.input-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.input-col {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}
.input-col-3 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 0 15px;
}
.step-form .uploadFile {
  flex-direction: row;
  gap: 15px;
}
.step-form .drop-area {
  height: 80px;
}
.thanks-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thanks-info h3 {
  font-size: 32px;
  margin: 15px 0 25px;
}
/* steps form widget css end */

/* home-4boxes widget css start */
.home-4boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.home-4boxes > div {
  padding: 16px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 1px 1px 2.8px 0px rgba(0, 0, 0, 0.25);
}
.home-boxe-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.home-boxe-header h3 {
  font-weight: 500;
}
.home-boxe-header p {
  font-size: var(--fontSize12);
}
.home-boxe-header .btn-gray {
  padding: 6px 8px;
}
.home-inbox-listing-widget {
  flex: 0 0 40%;
  max-width: 40%;
}
.inbox-list-widget {
  list-style: none;
  padding: 0;
  margin: 0;
}
.inbox-list-widget li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}
.inbox-list-widget li .userimg {
  margin-right: 10px;
  flex: 0 0 32px;
}
.inbox-list-widget li .userimg img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: center;
}
.inbox-list-widget li .user-info {
  font-size: var(--fontSize12);
  flex: 0 0 calc(100% - 100px);
}
.inbox-list-widget li .user-info p:first-child {
  margin-bottom: 2px;
}
.inbox-list-widget li .user-info strong {
  color: var(--primeray-color);
}

.action-btn {
  margin-left: auto;
  display: none;
}
.action-btn button {
  margin: 0 2px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.inbox-list-widget li:hover .action-btn {
  display: block;
}
.inbox-list-widget li .action-btn {
  position: absolute;
  right: 0.4rem;
}
.home-calender-widget {
  flex: 0 0 56%;
  max-width: 56%;
}
.dPicker-widget {
  display: flex;
  gap: 10px;
}
.dPicker-calender {
  max-width: 40%;
}
.dPicker-info {
}
.dPicker-info h4 {
  font-weight: normal;
  margin-bottom: 15px;
}

.home-recruiting-widget {
  flex: 0 0 40%;
  max-width: 40%;
}
.recruit-list-widget {
  list-style: none;
  padding: 0;
  margin: 0;
}
.recruit-list-widget li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.recruit-list-widget li .recruit-icon {
  margin-right: 10px;
}
.recruit-list-widget li .recruit-icon img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: center;
}
.recruit-list-widget li .recruit-info {
  font-size: var(--fontSize12);
}
.recruit-list-widget li .recruit-info p:first-child {
  margin-bottom: 2px;
}
.recruit-list-widget li .recruit-info strong {
  color: var(--primeray-color);
}
.home-orgchart-widget {
  flex: 0 0 56%;
  max-width: 56%;
}

/* home-4boxes widget css end */

/* employee-details-info css start */
.emp-basic-info-widget {
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 8px;
  background: var(--white-color);
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.06);
}
.emp-basic-info-widget ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}
.emp-basic-info-widget ul li {
  margin: 0 10px;
  position: relative;
}
.emp-basic-info-widget ul li a {
  color: var(--secondery-color);
  text-decoration: underline;
}
.emp-basic-info-widget ul li:first-child {
  margin-left: 0;
}
.emp-basic-info-widget ul li + li:before {
  content: "";
  width: 2px;
  height: 80%;
  position: absolute;
  left: -15px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--inputBorder);
}
.emp-basic-info-widget ul li > div {
  display: flex;
  gap: 10px;
  margin: 5px 0;
}
.emp-basic-info-widget ul li .tbl-name > div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.emp-basic-info-widget ul li .tbl-name img {
  width: 76px;
  height: 76px;
}
.emp-basic-info-widget ul li .user-name {
  font-size: var(--fontSize16);
  color: var(--primeray-color);
}
.emp-profile-widget .tbl-nav {
  margin-bottom: 0;
}
.emp-profile-widget .tbl-nav ul {
}
.emp-profile-widget .tbl-nav ul li {
  flex: 0.09%;
}
.emp-profile-widget .tbl-nav ul li a {
  color: var(--primeray-color);
  font-weight: 500;
  text-decoration: none;
  border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
}
.emp-profile-widget .tbl-nav ul li a.active {
  background-color: #b8b7f9;
  color: var(--secondery-color);
}
.emp-profile-body {
  padding: 15px;
}
.emp-profile-body header {
  margin: 0px 0 25px;
}
.emp-profile-body header h2 {
  font-size: 24px;
}
.emp-profile-content {
}
.emp-profile-content ul {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  list-style: none;
}
.emp-profile-content ul li {
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 15px;
}
.emp-profile-content ul li h4 {
  margin-bottom: 5px;
}
.emp-profile-content ul li a {
  color: var(--secondery-color);
}
.btn-emp-profile-edit {
  padding: 4px 8px;
  float: right;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.emp-salary-items {
}
.emp-salary-content {
}
.emp-salary-info {
  display: flex;
  gap: 50px;
}
.emp-salary-info-item {
  padding: 11px 29px;
  background: var(--white-color);
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.06);

  border-radius: 8px;
}
.emp-salary-info-item:first-child {
  width: 30%;
}
.emp-salary-info-item:last-child {
  width: 50%;
  margin-right: 1rem;
}
.emp-salary-info-item h3 {
  font-size: 18px;
}
/* employee-details-info css end */

/* dashboard main inbox page css start */
.db-main-inbox {
}
.db-main-inbox .left {
  width: 57%;
}
.db-main-inbox .right {
  width: 40%;
}
.db-main-inbox-tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  border-bottom: 1px solid var(--inputBorder);
  margin-bottom: 25px;
}

.db-main-inbox-tabs .tbl-nav {
  border: 0;
  margin-bottom: 10px;
}
.db-main-inbox-tabs .tbl-nav ul li {
  flex-basis: 20%;
}
.db-main-inbox-tabs .right .input-elm {
  background-color: var(--inputBorder);
}
.db-main-inbox-body {
  display: flex;
  justify-content: space-between;
}
.db-main-inbox-body .inbox-list-widget li {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid var(--inputBorder);
}
.db-main-inbox-body .inbox-list-widget li .action-btn button {
  background-color: var(--inputBorder);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.upcom-interview-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 18px;
  background: #f5f5f5;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.schedule-interview-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  gap: 10px;
  width: 100%;
  padding: 10px 18px;
  background: #5451f2;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  border-radius: 8px;
}
.schedule-interview-btn img {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}
.history-list {
  margin-top: 40px;
}
.history-list h4 {
  font-weight: 400;
  margin-bottom: 10px;
}
.history-list ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.history-list ul li {
  display: flex;
  margin-bottom: 6px;
  font-size: var(--fontSize14);
}
.history-list ul li span:first-child {
  margin-right: 5px;
  flex: 0 0 65px;
}
.history-list ul li span:last-child {
  margin-left: auto;
}
.history-list ul li.approve-item span:first-child {
  color: #89c59d;
}
.history-list ul li.rejected-item span:first-child {
  color: #bf7676;
}
.history-list ul li.renewed-item span:first-child {
  color: #007df8;
}
/* absence details box css start */
.interview-schedule-widget,
.absnc-detail-widget {
  position: relative;
  padding: 16px;
  background: #fff;
  box-shadow: 1px 1px 2.8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.interview-schedule-widget .crose-btn,
.absnc-detail-widget .crose-btn {
  position: absolute;
  right: 16px;
  top: 16px;
  padding-top: 3px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.interview-schedule-widget h3,
.absnc-detail-widget h3 {
  margin-bottom: 40px;
}
.absnc-detail-head {
  margin-bottom: 20px;
}
.absnc-detail-head span > small {
  font-size: var(--fontSize14);
}
.absnc-detail-body {
  font-size: var(--fontSize14);
  min-height: 200px;
}
.absnc-detail-body table {
  width: 100%;
}
.absnc-detail-body table tr th {
  text-align: left;
}
.absnc-detail-body table tr td {
  text-align: right;
}
.absnc-detail-body table tr td span {
  display: block;
}
.absnc-detail-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.absnc-detail-footer .btn {
  width: 200px;
  height: 36px;
  font-size: var(--fontSize16);
  padding: 4px 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.absnc-detail-footer .btn:first-child {
  background-color: rgba(254, 243, 242, 1);
}
.absnc-detail-footer .btn:last-child {
  background-color: rgba(3, 152, 85, 1);
  color: var(--white-color);
}
/* absence details box css end */

/* schedule interview box css start */

/* schedule interview box css end */

/* dashboard main inbox page css end */

/* dashboard responsive css start */
@media only screen and (max-width: 1535px) {
  :root {
    --fontSize16: 14px;
    --fontSize14: 12px;
    /* --fontSize12: 11px; */
  }
  .input-icon,
  .header-right-elms button {
    font-size: 16px;
  }
  .sidebar-nav ul li a > span.menu-icon img {
    max-width: 18px;
  }
  .thanks-info h3 {
    font-size: 24px;
  }
  .emp-salary-info {
    gap: 25px;
  }
  .emp-salary-info-item {
    padding: 15px 15px;
  }
  .emp-salary-info-item h3 {
    font-size: 14px;
  }
  .input-col,
  .input-col-3 {
    padding: 0 8px;
  }
}
/* dashboard responsive css end */

/************ dashboard css end *************/
